
.nav_wrapper{
padding-bottom: 40px;

}
html,
body {
  height: 100%;
  
}
.jumbotron{
  margin-left: 100px;
  margin-right: 100px;
}
.navbar-default{
	margin-left: 100px;
 	margin-right: 100px;
 	margin-top: -30px;
}
#warp {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 120px;
}
#footer{
height: 120px;
background-color: #3b3f44;
color: #ffffff;
}
.image{
	width: 236px;
	height:156px;
	margin-bottom: 20px;
}